$borderColor: #cccccc;

.main-container {
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	font-family: 'Arial';
	font-size: 13px;
	color: #333333;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.main-container * {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.header-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 60px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $borderColor;
	background-color: #eeeeee;
}

.header-daterange-panel {
	position: absolute;
}

.title-container {
	float: left;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $borderColor;
	font-weight: bold;
}

.data-panel {
	position: absolute;;
	top: 61px;
	left: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 0px 1px 1px 0px solid $borderColor;
}

.day-box {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $borderColor;
	text-align: center;
}

.bar {
	position: absolute;;
	text-align: center;
	padding: 3px;
	font-size: 13px;
	border-radius: 8px;
	height: 19px;
	line-height: 19px;
	z-index: 10;
}

.monthyear-box {
	float: left;
	font-weight: bold;
	height: 30px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $borderColor;
	text-align: center;
	line-height: 30px;
}

.clear-both {
	clear: both;
}

.data-left-box {
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 6px;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	border-color: $borderColor;
}

.data-panel .left-panel {
	position: absolute;
	background-color: #eeeeee;
	font-weight: bold;
	z-index: 30;
}

.data-panel .chart-panel {
	position: absolute;
	background-image: url('img/cell.png');
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: $borderColor;
}

.wrap-text-with-dots {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.desc-box {
	display: none;
	position: absolute;
	background-color: #F5ECCE;
	border: 1px solid #FFBF00;
	padding: 5px;
	border-radius: 5px;
	z-index: 100;
}

.bar:hover + .desc-box {
	display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
